* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  outline: none;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 30px;
  }
}

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato.bold-webfont.eot");
  src: url("../fonts/lato.bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato.bold-webfont.woff2") format("woff2"), url("../fonts/lato.bold-webfont.woff") format("woff"), url("../fonts/lato.bold-webfont.ttf") format("truetype"), url("../fonts/lato.bold-webfont.svg#latobold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato.light-webfont.eot");
  src: url("../fonts/lato.light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato.light-webfont.woff2") format("woff2"), url("../fonts/lato.light-webfont.woff") format("woff"), url("../fonts/lato.light-webfont.ttf") format("truetype"), url("../fonts/lato.light-webfont.svg#latolight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato.regular-webfont.eot");
  src: url("../fonts/lato.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato.regular-webfont.woff2") format("woff2"), url("../fonts/lato.regular-webfont.woff") format("woff"), url("../fonts/lato.regular-webfont.ttf") format("truetype"), url("../fonts/lato.regular-webfont.svg#latoregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

.app-header {
  background: url("../img/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.app-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.app-header__logo {
  margin: 280px 0 85px;
}

.app-header__title {
  font-family: "latobold";
  font-weight: 700;
  font-size: 54px;
  letter-spacing: 9px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.app-header__subtitle {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 350px;
  line-height: 29px;
}

@media screen and (max-width: 992px) {
  .app-header {
    background-position: right;
  }
  .app-header .container {
    margin: 0 auto;
  }
  .app-header__logo {
    margin: 120px 0 85px;
  }
  .app-header__subtitle {
    margin-bottom: 200px;
  }
}

.about-us {
  padding: 145px 0 160px;
}

.about-us .container {
  border-left: 2px solid #3b3b3b;
  border-bottom: 2px solid #3b3b3b;
  border-right: 2px solid #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__title {
  font-family: "latobold";
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 5px;
  color: #3c3c3c;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: -25px;
  width: 100%;
  margin-bottom: 35px;
}

.about-us__title::before {
  content: "";
  width: 30%;
  height: 2px;
  top: 25px;
  left: 0;
  background: #3b3b3b;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .about-us__title::before {
    width: 20%;
  }
}

@media screen and (max-width: 576px) {
  .about-us__title::before {
    width: 10%;
  }
}

.about-us__title::after {
  content: "";
  width: 30%;
  height: 2px;
  top: 25px;
  right: -1px;
  background: #3b3b3b;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .about-us__title::after {
    width: 20%;
  }
}

@media screen and (max-width: 576px) {
  .about-us__title::after {
    width: 10%;
  }
}

.about-us__text {
  font-family: "latolight";
  font-weight: 300;
  font-size: 16px;
  color: #3c3c3c;
  text-align: center;
  line-height: 24px;
  width: 60%;
}

.about-us__text--bottom {
  width: 50%;
  margin: 30px 0;
}

.services {
  padding: 110px 0;
  background: url("../img/services-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.services .container {
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title {
  font-family: "latobold";
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: -25px;
  width: 100%;
  margin-bottom: 35px;
}

.services__title::before {
  content: "";
  width: 30%;
  height: 2px;
  top: 25px;
  left: 0;
  background: #ffffff;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .services__title::before {
    width: 20%;
  }
}

@media screen and (max-width: 576px) {
  .services__title::before {
    width: 10%;
  }
}

.services__title::after {
  content: "";
  width: 30%;
  height: 2px;
  top: 25px;
  right: -1px;
  background: #ffffff;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .services__title::after {
    width: 20%;
  }
}

@media screen and (max-width: 576px) {
  .services__title::after {
    width: 10%;
  }
}

.services__text {
  font-family: "latolight";
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  text-align: center;
  width: 60%;
  margin-bottom: 30px;
}

.what-we-do {
  padding: 100px 0 110px;
}

.what-we-do .container {
  border-left: 2px solid #3b3b3b;
  border-bottom: 2px solid #3b3b3b;
  border-right: 2px solid #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 90px;
}

.what-we-do__title {
  font-family: "latobold";
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 5px;
  color: #3c3c3c;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: -25px;
  width: 100%;
}

.what-we-do__title::before {
  content: "";
  width: 30%;
  height: 2px;
  top: 25px;
  left: 0;
  background: #3b3b3b;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .what-we-do__title::before {
    width: 20%;
  }
}

@media screen and (max-width: 576px) {
  .what-we-do__title::before {
    width: 10%;
  }
}

@media screen and (max-width: 576px) {
  .what-we-do__title::before {
    width: 1%;
  }
}

.what-we-do__title::after {
  content: "";
  width: 30%;
  height: 2px;
  top: 25px;
  right: -1px;
  background: #3b3b3b;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .what-we-do__title::after {
    width: 20%;
  }
}

@media screen and (max-width: 576px) {
  .what-we-do__title::after {
    width: 10%;
  }
}

@media screen and (max-width: 576px) {
  .what-we-do__title::after {
    width: 1%;
  }
}

.what-we-do__block {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what-we-do__block-title {
  font-family: "latobold";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
  color: #3c3c3c;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

.what-we-do__block-text {
  font-family: "latolight";
  font-weight: 300;
  font-size: 14px;
  color: #3c3c3c;
  text-align: center;
  line-height: 26px;
  width: 60%;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-block {
  position: relative;
  margin: 5px;
}

.works-block__title {
  font-family: "latobold";
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 40px 45px;
}

@media screen and (max-width: 576px) {
  .works-block__title {
    font-size: 20px;
  }
}

.works-block--side {
  width: 29%;
  height: 237px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.works-block--middle {
  width: 40%;
  height: 237px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.works-block--one {
  background: url("../img/work-1.png");
}

.works-block--two {
  background: url("../img/work-2.png");
}

.works-block--three {
  background: url("../img/work-3.png");
}

.works-block--four {
  background: url("../img/work-4.png");
}

.works-block--five {
  background: url("../img/work-5.png");
}

.works-block--six {
  background: url("../img/work-6.png");
}

.works-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
}

.works-block__link:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(14%, black), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(0deg, black 14%, rgba(255, 255, 255, 0.5));
}

@media screen and (max-width: 1400px) {
  .works {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works-block {
    width: 49%;
  }
}

@media screen and (max-width: 992px) {
  .works-block {
    width: 80%;
  }
}

.contact {
  padding: 120px 0 50px;
}

.contact .container {
  border-left: 2px solid #3b3b3b;
  border-bottom: 2px solid #3b3b3b;
  border-right: 2px solid #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  font-family: "latobold";
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 5px;
  color: #3c3c3c;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: -25px;
  width: 100%;
  margin-bottom: 35px;
}

.contact__title::before {
  content: "";
  width: 30%;
  height: 2px;
  top: 25px;
  left: 0;
  background: #3b3b3b;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .contact__title::before {
    width: 20%;
  }
}

@media screen and (max-width: 576px) {
  .contact__title::before {
    width: 10%;
  }
}

@media screen and (max-width: 576px) {
  .contact__title::before {
    width: 5%;
  }
}

.contact__title::after {
  content: "";
  width: 30%;
  height: 2px;
  top: 25px;
  right: -1px;
  background: #3b3b3b;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .contact__title::after {
    width: 20%;
  }
}

@media screen and (max-width: 576px) {
  .contact__title::after {
    width: 10%;
  }
}

@media screen and (max-width: 576px) {
  .contact__title::after {
    width: 5%;
  }
}

.contact__text {
  font-family: "latolight";
  font-weight: 300;
  font-size: 16px;
  color: #3c3c3c;
  text-align: center;
  line-height: 26px;
  text-align: center;
  width: 60%;
  margin-bottom: 35px;
}

.contact__btn {
  width: 40%;
  padding: 20px 0;
  font-family: "latoregular";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #3c3c3c;
  margin-bottom: 40px;
}

@media screen and (max-width: 576px) {
  .contact__btn {
    font-size: 10px;
  }
}

.app-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.app-footer__logo {
  width: 5%;
  height: auto;
}

.app-footer__logo .shp0 {
  fill: none;
  stroke: #3c3c3c;
  stroke-width: 2;
}

.app-footer__logo .shp1 {
  fill: none;
  stroke: #3c3c3c;
  stroke-width: 2;
}

.app-footer__logo .shp2 {
  fill: #3c3c3c;
}

@media screen and (max-width: 576px) {
  .app-footer__logo {
    width: 10%;
  }
}

.app-footer__text {
  font-family: "latoregular";
  font-weight: 400;
  font-size: 14px;
  color: #3c3c3c;
  text-align: center;
  margin-left: 30px;
}

@media screen and (max-width: 576px) {
  .app-footer__text {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */