.app-footer {

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
    &__logo {
        width: 5%;
        height: auto;

        .shp0 { fill: none;stroke: #3c3c3c;stroke-width: 2 } 
        .shp1 { fill: none;stroke: #3c3c3c;stroke-width: 2 } 
        .shp2 { fill: #3c3c3c } 
    }

    &__text {
        @include font('latoregular', 400, 14px, null, #3c3c3c, null);
        margin-left: 30px;
        
    }
}